if number < 1
	ul
		li 사용자가 없습니다
else
	ol
		each d in data
			li
				input(type="checkbox", id=d.SessionId, class="session_user")
				check #{d.address} : #{d.host} [#{d.rdp}]
				button(class="disconn_user") X
