<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Optional -->
  <properties resource="properties.config"/>

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>
  
  <providers resource="providers.config"/>
  
	<!-- Database connection information -->
  
  <!-- Connecting to SQL Server -->
	<database>
		<provider name="sqlServer1.1"/>
    <dataSource name="SINDOH"
                connectionString="Password=${password};
                Persist Security Info=True;
                User ID=${userID};Initial Catalog=${database};Data Source=${datasource}"
                />
  </database>

	<sqlMaps>
			<sqlMap resource="SqlMaps/LoginInfo.xml" />
	</sqlMaps>

</sqlMapConfig>