<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->

    <!--<target name="file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Grow">-->
      <!--<target xsi:type="File" fileName="${basedir}/logs/${level}.txt" />-->
      <target name="file" xsi:type="File"
              layout="${longdate} ${logger} ${message}"
              fileName="${basedir}/${level}.log"
              maxArchiveFiles="15"
              archiveEvery ="Day"
              concurrentWrites ="true"
              concurrentWriteAttemptDelay ="10"
              concurrentWriteAttempts ="10000"/>
    <!--</target>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
