doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title 원격 데스트탑 접속자
		//if lte IE 8
			script(src='/javascripts/html5forIE.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/jquery-1.7.2.min.js')
		script(src='/javascripts/index.js')

	body
		div(id="content")
			h1 아래의 사용자가 접속해있습니다
			div(id="user_section")
				include conn_list.jade
						
			h2(id="chat") 대화
			div(id="chat_section")
				input(id="name",title="메세지에 포함될 대화명입니다")
				input(id="message",title="보낼 메시지를 입력합니다")
				button(id="send",title="메시지를 전송합니다")
					span 전송
				ul(id="chat_content",class="chat_list")